*.o
*.a
*.so
*.out
*.exe
*.log
*.ts

nvr_recorder

output/*

CMakeFiles/*

CMakeCache.txt
Makefile
cmake_install.cmake

include/*

lib/

web/cam*.*
# Ignore live m3u8 files that are constantly updated by the recorder
build/web/cam*/live.m3u8

.Identifier
